@import './Title/Title.css';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Teko');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;

}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 4em;
}

a {
  color: white;
}

.title {
  font-family: monospace;
  font-size: 4em;
  position: fixed;
  left: 50%;
  transform: translate(-10%,0);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
  z-index: 1;
}

@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }
}