@import './Title/Title.css';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Teko|Anton');


body {
	font-family: 'Anton', sans-serif;
  background-color: black;
  color: white;

}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 4em;
}

a {
  color: white;
}
